<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"/>
    <link rel="stylesheet" href= "../static/stylesheets/app.css">
    <title>About</title>
  </head>
  <body>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/howToUse">How to Use</a></li>
      </ul>
    </nav>
    <h3><p class = "p1"> Welcome to our website! We are dedicated to providing you
        random information regarding your surroundings. All you need to do is enter
        a valid address in the format "[street_number] [street] [city]"! Don't worry,
        your information is only used for your benefit. So enjoy our website!!
    </p>
    </h3>
    <div class = "p1">
      <h6> Brought to you by: <br>
        - William Lin <br>
        - Tyler Huang <br>
        - Coby Sontag <br>
        - Hilary Zen <br> <br>

        APIs Used <br>
        <a href = "https://docs.google.com/document/d/1i6Zl1cfnEr_u9oqvk1XbwJWGMqf8Vp2IdQzUf2InGek/edit"> Location IQ </a><br>
            - returns the latitude and longitude of an address <br><br>
        <a href = "https://docs.google.com/document/d/1zLgw_m5zhouRFc_Vm21_RTpCQwBbu_Cr2zOJH9VGL3o/edit"> Places API </a><br>
            - takes in location as latitude and longitude and returns places nearby <br><br>
        <a href = "https://docs.google.com/document/d/1AYUhQ15IkV8yX_zLNDS0x9Q0l_QY6vOv3aA3f_LHDzU/edit"> Google Civic Information </a><br>
            - provides civic information based on residential address <br><br>
        <a href = "https://docs.google.com/document/d/1V-IRbvKGQpJMTfYxsOcew8A-9y9otnKWGP7eXR2bJ6Y/edit"> OpenWeatherMap </a><br>
            - provides weather data given geographic location <br><br>
        <a href = "https://docs.google.com/document/d/1BrK8KIi1jxdETaGoEcuEB_UDiGwZhFFeWxZ_dlwiFww/edit"> Maps Embed </a><br>
            - takes in location as latitude and longitude and returns a google map of it <br><br>
      </h6>
    </div>
  </body>
</html>
