<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="../static/stylesheets/app.css">
    <title>Civic Info</title>
  </head>
  <body>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/howToUse">How to Use</a></li>
      </ul>
    </nav>

    <div class="text-center">
    <h3>Elections Near You:</h3><br>
    {% for i in name %}
      {{i}} <br>
    {% endfor %} <br>
    </div>
    {% for i in vinfo %}
    <div class="text-center">
      <h3 class="election-name">Election: {{i["election"]["name"]}}</h3>

      <h4>Polling Locations:</h4>
      {% for j in i["pollingLocations"] %}
        {{ j["address"]["locationName"] }}<br>
        {{ j["address"]["line1"] }}, {{j["address"]["city"]}}, {{j["address"]["state"]}} , {{j["address"]["zip"]}} <br><br>
      {%endfor%}

      <h4>Contests:</h4>
      {% for j in i["contests"] %}
      <div>
        {%if j["office"]%}
          <h5 class="election-office">Office:
          {{ j["office"] }}</h5>
          District:
          {{ j["district"]["name"] }} <br><br>
          Candidates: <br>
          <div class="grid-x">
            {% for k in j["candidates"] %}
              <div class="text-center cell small-3">
              Name: {{k["name"]}} <br>
              Party: {{k["party"]}} <br>
              {% if k["candidateUrl"]%}
                <a href = {{k["candidateUrl"]}}> More Info </a> <br>
              {%endif%}
              </div>
            {%endfor%}
          </div>
        {%endif%}
      </div>
      {%endfor%}
    </div>
    {%endfor%}
  </body>
</html>
