<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="../static/stylesheets/app.css">
    <title>Homepage</title>
  </head>
  <body>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/howToUse">How to Use</a></li>
      </ul>
    </nav>
    <div class="middle-content-section">
    <div class="home-top">
      <center>
        <h1>Welcome {{ user }}!</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <h5> {{ messages[0] }} </h5>
          {% endif %}
        {% endwith %}
      </center>
    </div>
    <div class="home-grid middle-content-section grid-x text-center">
      <div class="cell small-4 large-4">
        <h3>Basic Information</h3>
        <div class="home-text">
          <p>Name: {{ name }} <br>
          Email: {{ email }} <br>
          Phone Number: {{ pnum }} <br>
          Location: {{ loc }} <br>
          Address: {{ address }} <br></p>
        </div>
        <a href="/update" class="button">Update Info</a><br>
        <a href="/logout" class="button">Log Out</a>
      </div>
      <div class="cell small-4 large-4">
        <h3>Information About You</h3>
        <div class="login-box-form-section">
          <a href="/weather" class="button">Check Weather</a><br>
          <a href="/elections" class="button">Check Elections</a><br>
          <a href="/representatives" class="button">Check Representatives</a>
        </div>
      </div>
      <div class="cell small-4 large-4">
        <h3>Add Your Missing API Keys</h3>
        <a href="/keys" class="button">API Key Info</a><br>
        <div class="home-text">
          <p>Follow the instructions below to get your missing keys, and click on the API Key Info button above to add them to the site!</p>
          {% if googleCivic == '' %}
            <h5>Your Google API key is missing!</h5>
            <p>Log into your Google account and go to "Credentials" at your <a href="https://console.developers.google.com/" target="_blank">Google Developer Console</a>, where you can start a new project to get a key!</p>
          {% endif %}
          {% if openWeather == '' %}
            <h5>Your OpenWeather key is missing!</h5>
            <p>Create an account at <a href="https://home.openweathermap.org/users/sign_up" target="_blank">OpenWeather</a>. Once you've signed in, go to API keys, where you should find a key already generated for you!</p>
          {% endif %}
          {% if fullContact == '' %}
            <h5>Your Full Contact key is missing!</h5>
            <p>Add instructions later</p>
          {% endif %}
        </div>
      </div>
    </div>

<div id="map" style="width:100%;height:300px;"></div>
<script>

function initMap() {
  var myOptions = {
    /*scrollwheel: false,
    draggable: false,
    panControl: false,
    disableDefaultUI: true,
    */
    zoom: 13,
    //maxZoom: window.mapData.zoom,
    //minZoom: window.mapData.zoom,
    center: new google.maps.LatLng(40.7178, -74.0139),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var contentString = '<div id="content">'+
  '<div id="siteNotice">'+
  '</div>'+
  '<h1 id="firstHeading" class="firstHeading">IP Location</h1>'+
  '<div id="bodyContent">'+
  '<p><b>IP Loation</b>, Our best guess to your location based on your IP address.' +
  '</div>'+
  '</div>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    map: map,
    position: new google.maps.LatLng(40.7178, -74.0139),
    title: "Current Location"
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });

  google.maps.event.addDomListener(window, 'resize', function() {
    map.setCenter(myOptions.center);
  });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHK1ljchb34RGBly1lBogpqhhaulflFso&amp;callback=initMap"></script>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <div class="login-box">
      <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1">
          <div class="login-box-form-section">
            <!--
            <form action="/weather">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Check Weather">
            </form>
            <form action="/elections">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Elections">
            </form>
            <form action="/representatives">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Representatives">
            </form>
            <form action="/places">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Places Near You">
            </form>
            <form action="/keys">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="API Key Info">
            </form>
            <form action="/logout">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Logout">
            </form>
            -->
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

</div>


  </body>
</html>
