<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"/>
    <link rel="stylesheet" href="../static/stylesheets/app.css"/>
    <title>About</title>
  </head>
  <body>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/howToUse">How to Use</a></li>
      </ul>
    </nav>
    <div class = "p1">
      <h3> Here's how to make the most out of our website!</h3> <br>
      <h5>
        1. Register for an account <br>
        2. Log in with your new account! Exciting :) <br>
        3. Input your city in the location! <br>
        4. Input your address in the format "[street_number] [street] [city]" <br>
        5. Get your API keys if you don't have them. How do I get them you ask? Great Question!</h5>
          <h5>My Google Civic/Place/Map API key is missing!</h5>
          <p>Log into your Google account and go to "Credentials" at your <a href="https://console.developers.google.com/" target="_blank">Google Developer Console</a>, where you can start a new project to get a key! Luckily for you, this key works for all google APIs. Just remember to enable them in your account!</p>
          <h5>My OpenWeather key is missing!</h5>
          <p>Create an account at <a href="https://home.openweathermap.org/users/sign_up" target="_blank">OpenWeather</a>. Once you've signed in, go to API keys, where you should find a key already generated for you!</p>
          <h5>My LocationIQ key is missing!</h5>
          <p>Sign up at <a href="https://locationiq.com/register" target="_blank">LocationIQ</a>. Once you're logged in you'll be able to find your token on the Geocoding Sandbox!</p>
        <h5>6. Now explore our random buttons and have fun!</h5>
    </div>
  </body>
</html>
