<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="../static/stylesheets/app.css">
    <title>NSA Advice</title>
  </head>
  <body>
    <div class="hero-full-screen">

      <div class="top-content-section">
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-text"><img src="key.svg" alt="logo" style = "width:75px;height:30px;"></li>
              <li><a href="/about">About</a></li>
              <li><a href="/howToUse">How To Use</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="middle-content-section">
        <h1 class="webName">Welcome to NSA Advice!</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% if messages[1] == "index" %}
              <h5> {{ messages[0] }} </h5>
            {% endif %}
          {% endif %}
        {% endwith %}
        <form action="/login" method="POST">
          <input type="submit" class="button large" value="Login">
        </form>
        <form action="/register" method="POST">
          <input type="submit" class="button large" value="Register">
        </form>
      </div>

      <div class="bottom-content-section" data-magellan data-threshold="0">
        <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg></a>
      </div>

    </div>

    <div id="main-content-section" data-magellan-target="main-content-section">
      <!-- your content goes here -->
    </div>

    <div class="three-column-footer-contact-form-container">
      <footer class="three-column-footer-contact-form" data-equalizer data-equalize-by-row="true">
        <div class="footer-left" data-equalizer-watch>
          <div class="baseline">
            <div class="contact-details">
              <h6>Contact details</h6>
              <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 01234 567890</p>
              <p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</a></p>
              <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Street, City, County, Country</p>
            </div>
            <div class="newsletter">
              <div class="input-group">
                <h6>Sign up for our newsletter</h6>
                <div>
                <ul>
                  <input class="input-group-field" type="email" placeholder="Email address">
                </ul>
              </div>
              </div>
              <a class="button expanded" href="#">Submit</a>
            </div>
          </div>
        </div>
        <div class="footer-center" data-equalizer-watch>
          <div class="baseline">
            <div class="newsletter">
              <h6>Contact form</h6>
              <div class="input-group">
              <ul class = "boxes">
                <li><input class="input-group-field" type="text" placeholder="Name"></li>
                <li><input class="input-group-field" type="email" placeholder="Email address"></li>
                <li><textarea placeholder="Message"></textarea></li>
              </ul>
              </div>
              <a class="button expanded" href="#">Submit</a>
            </div>
          </div>
        </div>
        <div class="footer-right" data-equalizer-watch>
          <div class="baseline">
            <img class="thumbnail" src="http://placehold.it/100">
            <h6>Opening times</h6>
            <p>Mon - Fri 9:00am - 5:00pm</p>
            <p>Sat 9:00am - 8:00pm</p>
            <p>Sun 9:00am - 4:00pm</p>
            <div class="social">
              <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
              <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
              <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </footer>
  </div>




  </body>
</html>
