<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="../static/stylesheets/app.css">
    <title>Register</title>
  </head>
  <body>
    <!-- Registration Form -->
    <div class="login-box">
      <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1">
          <div class="login-box-form-section">
            <h4 class="login-box-title">Sign up</h4>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% if messages[1] == "register error" %}
                  <h5> {{ messages[0] }} </h5>
                {% endif %}
              {% endif %}
            {% endwith %}
            <form action="/auth" method="POST">
              <input class="login-box-input" type="text" name="first_name" placeholder="First Name">
              <input class="login-box-input" type="text" name="last_name" placeholder="Last Name">
              <input class="login-box-input" type="text" name="username" placeholder="Username">
              <input class="login-box-input" type="password" name="password" placeholder="Password">
              <input class="login-box-input" type="password" name="password2" placeholder="Retype password">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Sign me up">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
