<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="../static/stylesheets/app.css">
    <title>Update Your Information</title>
  </head>
  <body>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/howToUse">How to Use</a></li>
      </ul>
    </nav>
    <!-- Registration Form -->
    <div class="login-box">
      <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1">
          <div class="login-box-form-section">
            <h4 class="login-box-title">Update Your Information</h4>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <h5> {{ messages[0] }} </h5>
              {% endif %}
            {% endwith %}
            <form action="/auth" method="POST">
              <input class="login-box-input" type="text" name="firstName" placeholder="First Name">
              <input class="login-box-input" type="text" name="lastName" placeholder="Last Name">
              <input class="login-box-input" type="text" name="username" placeholder="Username">
              <input class="login-box-input" type="password" name="password" placeholder="Password">
              <input class="login-box-input" type="text" name="phoneNum" pattern="[0-9]{10}" placeholder="Phone Number">
              <input class="login-box-input" type="email" name="email" placeholder="Email">
              <input class="login-box-input" type="text" name="location" placeholder="Location">
              <input class="login-box-input" type="text" name="address" placeholder="Address">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Update Info">
            </form>
            <form action="/home">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Home Page">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
