<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="../static/stylesheets/app.css">
    <title>Weather</title>
  </head>
  <body>
    <div class="middle-content-section">
      <center>
        {% if weather == "Rain" %}
          <img class = "weather" src = "../static/images/rain.gif" alt = "rain gif"/>
        {% endif %}
        {% if weather == "Clouds" %}
          <img class = "weather" src = "../static/images/clouds.gif" alt = "clouds gif"/>
        {% endif %}
        {% if weather == "Clear" %}
          <img class = "weather" src = "../static/images/clear.gif" alt = "clear gif"/>
        {% endif %}
        {% if weather == "Thunderstorm" %}
          <img class = "weather" src = "../static/images/thunderstorm.gif" alt = "thunderstorm gif"/>
        {% endif %}
        {% if weather == "Drizzle" %}
          <img class = "weather" src = "../static/images/drizzle.gif" alt = "drizzle gif"/>
        {% endif %}
        {% if weather == "Snow" %}
          <img class = "weather" src = "../static/images/snow.gif" alt = "snow gif"/>
        {% endif %}
        <br>
        Weather: {{description}} <br>
        Temperature: {{temp}} ˚F <br>
        Wind: {{wind}} m/s <br>
        Pressure: {{pressure}} hpa <br>
        Humidity: {{humidity}}% <br>
      </center>
    </div>
    <div class="login-box">
      <div class="row collapse expanded">
        <div class="small-12 medium-6 column small-order-2 medium-order-1">
          <div class="login-box-form-section">
            <form action="/home">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Home Page">
            </form>
            <form action="/logout">
              <input class="login-box-submit-button" type="submit" name="submit_button" value="Logout">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
